<div class="banner">
  <div class="banner-description">
    <h1> Dream big, play more</h1>
    <p>Rent your favorite console right now !</p>
  </div>
</div>
<div class="container">
  <div class="cards-list">
    <% @devices.each do |device| %>
      <%= link_to device_path(device) do  %>
        <div class="card-device">
          <div class="card_image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Cat_silhouette.svg/808px-Cat_silhouette.svg.png" />
          </div>
          <div class="card_title title-white">
            <p><%= device.name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



