<div class="banner">
  <div class="banner-description">
    <h1> Dream big, play more</h1>
    <p>Rent your favorite console right now !</p>
  </div>
</div>
<div class="container">
   <div class="cards-list">
     <div class="card 1">
       <div class="card_image"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Cat_silhouette.svg/808px-Cat_silhouette.svg.png" /> </div>
       <div class="card_title title-white">
         <p>Device</p>
       </div>
     </div>

   <div class="card 2">
     <div class="card_image">
       <img src="https://images.unsplash.com/photo-1526509867162-5b0c0d1b4b33?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
       </div>
     <div class="card_title title-white">
       <p>Device</p>
     </div>
   </div>

   <div class="card 3">
     <div class="card_image">
       <img src="https://images.unsplash.com/photo-1526509867162-5b0c0d1b4b33?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
     </div>
     <div class="card_title">
       <p>lorem</p>
     </div>
   </div>

   <div class="card 4">
     <div class="card_image">
       <img src="https://images.unsplash.com/photo-1526509867162-5b0c0d1b4b33?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
       </div>
     <div class="card_title title-black">
       <p>Device</p>
     </div>
     </div>

   </div>
</div>

