<div>
    <ul>
      <div>
        <h2>My devices</h2>
        <% @my_devices.each do |device| %>
        <li>
          <div>
            <%= device.name %> | <%= device.price %> euros per day
          </div>
          <div class="show-btn">
            <% if user_signed_in? && device.user_id == current_user.id%>
              <%= link_to 'edit product', edit_device_path(device)%> | <%= link_to 'destroy', device_path(device), method: :delete %>
            <% end %>
          </div>
        <% end %>
        </li>
      </div>
    </ul>
  </div>
<% console %>

