<div class="pages">
  <div class="banner-description">
    <h1> Play with your friends !</h1>
    <p>Rent your favorite console right now !</p>
<%=link_to devices_path do  %>
<div class="btn-login">Start here</div>
<% end %>
  </div>
</div>
