.btn-login{
  color: white;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  width:50%;
  margin: 20px 0px;
  text-align:center;
  text-decoration: none;
}
.btn-login:hover {
  background-color:#7579ff;
  color: white;
}

.btn-forgot{
  color: white;
}

.btn-show {
  padding: 10px;
  color: white;
  background-color: #7579ff;
  border-radius: 8px;
  border: 1px #7579ff;
  text-decoration: none;

  &:hover {
    background-color: #1D1347;
    transform: scale(0.9, 0.9);
  }
}
