.carousel-name {
  display: flex;
  align-items:center;
  justify-content: center;

}

.carousel-description {
  font-size: 40px;
  font-weight: bold;
  border: 1px solid #1D1347;
  padding: 10px;
  border-radius: 8px;
  color: #1D1347;
  margin: 10px;
}

.carousel img {
  border-radius: 20px;
}
