.cards-list-home {
  z-index: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 2;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;

}

.cards-list-index {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  margin-bottom: 20px;

}

.card-device-home {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
}

.card-device-home .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card-device-home .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card-device-home:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.card-device {
  margin: 10px;
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
  .card-device-image {
    img {
      border-radius: 8px;
      width: 350px;
    }

  }
  .card-device-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
  }
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

.device-name h2 {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 5px;
  font-weight: 20px;
}

.device-pricing {
  display: flex;
  justify-content: space-between;
}

.device-brand {
  display: flex;
  justify-content: space-between;
}



.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

